.Table1{

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
th{
    padding: 5px 5px 5px 5px;
}
.HeadRow{
    background-color: slategrey;
;
}
.AltRow1{
    background-color: gainsboro;
}
.AltRow2{
    background-color: grey;
}